*, *::after, *::before{
  box-sizing: border-box;
}

/* common styles */
.btn{
  
  display:inline-block;
  /* font-size: 2rem; */
}

.link{
  text-decoration: none;
  color:goldenrod;
  display: inline-block;
}

.flex{
  display:flex;
  align-items: center;
  gap:1rem;
}

/* App styling */
.App {
  text-align: center;
  
}
