*, *::after, *::before{
  box-sizing: border-box;
}

/* common styles */
.btn{
  display:inline-block;
  /* font-size: 2rem; */
}

.link{
  text-decoration: none;
  color:goldenrod;
  display: inline-block;
}

.flex{
  display:flex;
  align-items: center;
  gap:1rem;
}

.flex-justify{
  justify-content: space-between;
}

.flex-wrap{
  display:flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap:2rem;
  align-items: stretch;
}

.flex-item{
  flex-shrink: 0;
  flex-basis: 0;
  flex-grow: 1;
}

.form-container{
  max-width:45%;
  margin:2rem auto;
}

.small-form-container, .medium-form-container{
  
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  border-radius: 3rem;;
  padding:1rem 2rem;
  text-align: justify;
}
.small-form-container{
  max-width:40%;
  margin:4rem auto;
}

.medium-form-container{
  max-width:65%;
  margin:20rem auto;
}

.sm-display-container, .medium-display-container{
  margin:4rem auto;
  padding:1rem;
}
.sm-display-container{
  max-width:70%;
}

.medium-display-container{
  max-width:90%;
}

.large-display-container{
  max-width:96%;
  margin:2rem auto;
  padding:2rem 1rem;
}

.legend{
  font-size: 4rem;
  color:goldenrod;
  margin: 2rem 0;
  width:100%;
  /* border: 1px solid black; */
  background-color: black;
  padding: 1rem ;
  border-radius: 2rem;;
}

.heading-2{
  font-size: 2rem;
  font-weight: 500;
  margin:1rem 0.5rem;
}

/* .block-display{
  display:block;
} */

/* App styling */
.App {
  text-align: center;
}
