.cart-outer-container{
    max-width:96%;
    margin:0 auto;
    padding:2rem 1rem;
    /* border: 1px solid black; */
}
.cart-heading{
    font-size: 3rem;
    text-align: justify;
    padding: 2rem 0;
}

.cart-detail-container{
    width:65%;
    
}

.cart-subtotal-container{
    width:30%;
}

.cart-item-image{
    width:30%;
}

.cart-item-price{
    width:35%;
}

.cart-item-description{
    width:60%;
    /* border:1px solid black; */
}

.cart-item-price,
.cart-item-description{
    padding:1rem 1.5rem;
}
