.adddress-card-body p{
    color:black;
    letter-spacing: -0.5px;
    
}

.ant-card-body{
    background-color:khaki ;
}

.ant-card-head-title{
    font-weight: 700;
    font-size: 2rem;;
}

.address-card-footer{
    border-top: 1px solid black;
}