.cart-login-container{
    max-width:50%;
    margin:0 auto;
    padding:1rem 2rem;
    display: block;
}

.cart-login-container legend{
    font-size: 4rem;
    color:goldenrod;
    margin: 2rem 0;
}

.cart-login-container label{
    text-align: justify;
    margin:1rem 0;
}
.cart-login-container label,
.cart-login-container input
{
    display: inline-block;
    width:100%;
    padding:1rem 2rem;
    font-size: 2rem;
}

.cart-login-container input{
    outline:none;
    margin:0 2rem;
}

.cart-login-container p{
    font-size:1.8rem;
    color:red;
}

.register-link-p{
    font-size:2rem;
    margin:3rem 0;
}

.register-link{
    font-size: 2.4rem;;
}

.cart-login-btn{
    margin:2rem 0;
    background-color:goldenrod;
    color:black;
}

/* .cart-login-btn :hover{
    background-color: black;
    color:goldenrod;
} */