 label{
    text-align: justify;
    margin:1rem 0;
    font-weight: 600;
}
 label,
 input
{
    display: inline-block;
    padding:1rem 2rem;
    font-size: 2rem;
}

 input{
    min-width:80%;
    outline:none;
    margin:0.5rem 2rem;
    border-radius: 0.5rem;
    /* border: 1px solid greenyellow; */
}

 p{
    font-size:1.8rem;
    color:red;
}