.add-address-container{
    max-width:45%;
    margin:2rem auto;
}

.add-address-container legend{
    font-size:3rem;
    font-weight: 600;
}

.add-address-container fieldset{
    margin-bottom: 2rem;;
}